<ion-split-pane when="md">
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Channels</ion-title>
      </ion-toolbar>
    </ion-header>

<ion-content>
  <ion-card *ngFor="let message of messages">
    <ion-card-header>
      <ion-card-subtitle *ngIf='allUser'>{{allUser[message.userId-1].username}}</ion-card-subtitle>
      <ion-card-title>{{message.message}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{message.time}}
    </ion-card-content>
  </ion-card>

  Message
  <ion-input type = "text" (keydown)="onKeyDown($event)"></ion-input>

