<ion-split-pane when="md">
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Channels</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let channel of channels">
          <ion-item>
            {{channel}}
          </ion-item>

        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>




  <ion-router-outlet id="content" main>
    <div>
      <p>onfjsdfnsf</p>
    </div>
  </ion-router-outlet>
</ion-split-pane>

